<div id="current-user-info">
<h3><a title="{{ current_user.name }}" href="{{ profile_path }}">{{ user_id }}
  <span id="tweet-count">{{ tweet_count }} tweets</span>
</a>
</h3>
</div>
{{{ user_sidebar }}}
