<!DOCTYPE html>
<html>
<head>
  <title>{{ page_title }}</title>
  {{ stylesheets }}
  {{ javascripts }}
  {{ csrf_meta_tags }}
</head>
<body id="{{ page_id }}">
  <header id="top">
    <section>
      <h1>{{ link_to_logo }}</h1>
      <nav>
        <ul>
          <li>{{ link_to_home }}</li>
          {{#current_user}}
            <li>{{ link_to_profile }}</li>
            <li>{{ link_to_signout }}</li>
          {{/current_user}}
          {{^current_user}}
            <li>{{ link_to_signin }}</li>
          {{/current_user}}
        </ul>
      </nav>
    </section>
  </header>
  <div id="content" {{ body_class }}>
    {{ yield }}
    {{#sidebar}}
      <div id="sidebar">
        <div id="sidebar-container">
          {{{ sidebar }}}
        </div>
      </div>
    {{/sidebar}}
  </div>
  <footer id="bottom" {{ body_class }}>
    <p>
      An example <a href="http://rubyonrails.org/">Rails</a>
      app using <a href="https://couchdb.apache.org/">CouchDB</a>
      and <a href="https://twitter.com/">Twitter</a>'s data model.
      Source code is available at <a href="https://github.com/dgraham/couchtweet">GitHub</a>.
    </p>
  </footer>
</body>
</html>
