<li class="user">
  <header>
    <a href="{{ url }}">
      <img class="avatar" src="{{ gravatar }}" alt="{{ name }}"/>
      <strong class="fullname">{{ name }}</strong>
      <span class="username">@{{ id }}</span>
    </a>
  </header>
  <p class="bio">{{ bio }}</p>
</li>
