<div id="tweet-content">
  <header>
    <a href="{{ profile_path }}">
      <img class="avatar" src="{{ user_gravatar }}" alt="{{ user_name }}"/>
      <strong class="fullname">{{ user_name }}</strong>
      <span class="username">@{{ user_id }}</span>
    </a>
  </header>

  <p id="tweet-text">{{ tweet.text }}</p>

  <footer>
    <p id="tweet-date">
    {{ created_at }}
    {{#liked}}
      ({{ pluralized_favorites }} liked this)
    {{/liked}}
    {{ link_to_delete }} {{ link_to_favorite }}
    </p>
  </footer>
</div>
